body {
  font-family: Helvetica;
  font-weight: lighter;
  background-color: #92bde5;
}

.container {
  width: 80%;
  margin: auto;
}

.header {
  text-align: center;
}

h1 {
  font-size: 80px;
  margin-bottom: 0;
}

img {

}

h2 {
  margin-bottom: 0;
  color: #666666;
  font-weight: normal;
}

p {
  margin-top: 0;
  font-size: 20pt;   
}

#credits p {
  font-size: 10pt;
  margin-top: 200px;
  margin-left: 20px;
}

.displaybox {
  width: 100%;
  height: 100px;
}

.inputtext {
  font-size: 32pt;
}

textarea {
  resize: none;
  font-size: 48pt;
  padding: ; 
}