body {
  font-family: Helvetica;
  font-weight: lighter;
  background-color: white;
}

.container {
  width: 70%;
  margin: auto;
  padding-top: 50px;
}

.header {
  text-align: center;
}

h1 {
  font-size: 80px;
  margin-bottom: 0;
}

h2 {
  margin-bottom: 0;
  color: #666666;
  font-weight: normal;
}

p {
  margin-top: 0;
  font-size: 20pt;   
}

textarea {
  resize: none;
  font-size: 48pt;
  padding: ; 
}

input {
  font-size: 16px;
  background-color: #febe38;
  border: 1px solid;
  border-radius: 5px;
}

.displaybox {
  width: 100%;
  height: 100px;
}

.inputtext {
  font-size: 28pt;
}

.twitter-share-button {
  width: 100px;
  height: auto;
  margin-top: 3px;
  
}

.fb-share-button {
  margin-top: -1px;

}

.google-plus-share {
  margin-top: 3px;
}

table {
  vertical-align: middle;
}

#share {
  display: inline-block;
  *display: inline;

}


#credits p {
  text-align:center;
  font-size: 10pt;
  padding-top: 75px;
}
